<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lead" parallel="tests" verbose="10">
	<!-- <groups> <run> <include name="smoke"></include> </run> </groups> -->

	<parameter name="url"
		value="http://leaftaps.com/opentaps/control/main"></parameter>
	<parameter name="uname" value="demosalesmanager"></parameter>
	<parameter name="password" value="crmsfa"></parameter>

	<test name="TestingLeads">
		<classes>
			<class name="week3.day2.cw.CreateLeadUsingJunit" />
			<!-- <class name="week2.day2.homework.EditLead"/> -->
		</classes>
		
		<!-- </test> TestingLeads <test name="MergeLeads"> <classes> <class name="week3.day2.hw.MergeLeadJunit"/> 
			</classes> -->
	</test>
</suite>
